.dropdown {
    display: flex;
    width: 1192px;
    margin: auto;
    min-height: 360px;
    background-color: white;
    border-radius: 12px;
}

.dropdown_title, .dropdown_item {
    text-decoration: none;
    color: inherit;
}
.dropdown_title {
    font-size: 28px;
}
.dropdown_items {
    margin-top: 10px;
}
.dropdown_item {
    font-size: 19px;
}

.dropdown_column {
    margin-top: 20px;
    margin-left: 114px;
    min-width: 130px;
}

.dropdown_item_container {
    margin-bottom: 5px;
}