body, input {
  margin: 0;
  font-family: 'Futura PT Book';
  background-color: #f1ede8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Futura PT Book';
  src: url('fonts/futura_pt_book.woff2') format('woff2');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
