.favorites_container, .favorites_container_empty {
    min-height: 760px;
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
}
.favorites_container_empty {
    margin-top: 21px;
}
.favorites_container_empty_title {
    font-weight: bold;
    font-size: 30px;
    margin: auto;
}
.favorites_container_empty_wrapper {
    display: flex;
    min-height: inherit;
}
.favorites_container_empty_image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
    background-image: url("../../..../img/42793.png");
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.favorites_main_title {
    margin-left: 32px;
}

.favorites_main_caption {
    line-height: 20px;
    padding-top: 28px;
}



.favorites_items {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}