.lk_my_card_info {
    width: 145px;
    height: 80px;
    border-radius: 16px;
    border: 1px solid #d7cdcd;
    padding: 10px;
    display: flex;
}
.lk_my_card_info_left {
    display: flex;
    margin-right: 10px;
    justify-content: space-around;
    flex-direction: column;
}

.lk_my_card_info_right {
    padding-top: 5px;
}

.lk_my_card_logo {
    width: 32px;
}

.lk_youmoney {
    width: 148px;
    height: 68px;
    margin-top: 10px;
}
