.lk_container {
    min-height: 764px;
    width: 1280px;
    border-radius: 16px;
    margin: 21px auto;
    background: #fff;
}

.lk_title {
    line-height: 20px;
    padding-top: 28px;
}

.lk_profile_avatar {
    width: 112px;
    height: 108px;
    border-radius: 81px;
    margin-top: 22px;
    margin-right: 20px;
}

.lk_info_container {
    width: 1019px;
    margin: 0 auto;
    display: flex;
}

.lk_block, .lk_block_addresses {
    width: 986px;
    margin: 0 auto;
}

.lk_block_addresses {
    padding-bottom: 30px;
}

.lk_orders_area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.lk_more_button {
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
}
.lk_more_button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


@media (max-width: 768px) {
    .lk_container {
        width: 90%;
    }
    .lk_profile_avatar {
        width: 61px;
        height: 61px;
        margin-left: 20px;
    }
    .lk_title {
        font-size: 24px;
        padding-top: 10px;
    }
    .lk_block, .lk_block_addresses  {
        width: 90%;
    }
    .lk_block_title {
        font-size: 26px;
    }
    .lk_orders_area {
        flex-direction: column;
        margin: 0 auto;
    }
}
