.button_black {
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    outline: none;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-decoration: none
}

.button_white {
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    outline: none;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-decoration: none
}

