.color_name {
    font-size: 18px;
}
.color, .color_big {
    margin-right: 9px;
    border: 1px solid #cfcfcf;
}

.color {
    width: 14px;
    height: 14px;
    border-radius: 16px;
}

.color_big {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.color_wrapper {
    display: flex;
    align-items: center;
}