.categories_main{
    width: 1280px;
    margin: auto;
}
.categories_main_title {
    margin-left: 32px;
}

.categories_items, .categories_item, .categories_item_additional {
    display: flex;
    flex-direction: row;
}
.categories_items {
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories_item {
    width: 500px;
    flex-direction: column;
}
.categories_items_bottom {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.categories_item_image {
    border-radius: 5px;
}

.categories_item_name {
    font-size: 32px;
}

.categories_item_additional {
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .categories_main {
        width: 100%;
        margin: 0
    }
    .categories_items_bottom {
        flex-wrap: wrap;
    }
}