.admin_block {
    background: #fff;
    height: 542px;
    width: 95%;
    margin: 0 auto;
    border-radius: 16px;
}
.admin_block_title {
    margin-left: 43px;
    padding-top: 22px
}

.admin_block_order {
    max-width: 333px;
}

.admin_blocks_orders {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}