.footer_main {
    width: 100%;
    height: 236px;
}

.footer_main_content {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    width: 1280px;
    height: auto;
    margin: auto;
    margin-top: 15px;
    opacity: 0.7;
    justify-content: space-between;
}

.footer_logo {
    width: 122px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer_additional_text {
    margin-top: 10px;
}

.footer_text {
    margin: 0;
}

.footer_menu_list {
    list-style: none;
}
.footer_menu_container {
    padding-bottom: 5px;
}
.footer_menu_item {
    text-decoration: none;
    color: inherit;
}

.footer_cards {
   background-image: url('https://happylates.com/wp-content/uploads/2018/11/sberbank-image.png');
   background-size: contain;
    background-repeat: no-repeat;
    width: 152px;
    height: 43px;
}
.footer_content_right {
    align-items: end;
    display: flex;
    flex-direction: column;
}
.footer_content_center {
    margin-right: 75px;
}

.footer_telegram {
    background-image: url('https://icones.pro/wp-content/uploads/2021/04/icone-telegramme-symbole-logo-gris.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 47px;
    height: 30px;
    margin-top: 5px;
}

.footer_rightinfo {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer_supportinfo {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .footer_main, .footer_main_content {
        width: 100%;
    }
    .footer_logo {
        background-repeat: no-repeat!important;
    }
    .footer_main_content {
        flex-direction: column;
        align-items: center;
    }
    .footer_content_left, .footer_rightinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer_content_right, .footer_content_rightinfo {
        align-items: center;
    }
    .footer_content_center {
        display: none;
    }
}