.auth_container {
    min-height: max-content;
    background: #fff;
    width: 634px;
    margin: 21px auto;
    border-radius: 16px;
}
.auth_main_title {
    text-align: center;
    line-height: 20px;
    padding-top: 28px;
}
.auth_label, .auth_signin {
    max-width: 480px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.auth_signin {
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: inherit;
}

.auth_pass_warning {
    margin-left: 77px;
    color: red;
}
.auth_input {
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    overflow: visible;
    width: 100%;
    font-size: 26px;
    line-height: 1.5;
    height: auto;
    padding: 11px 0px;
    margin: 0px 0px 10px;
    background-image: none;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(200, 199, 199);
    transition: border-color 0.15s ease-in-out 0s, color 0.15s ease-in-out 0s;
    outline: 0px;
    font-weight: 400;
}

.auth_submit_container {
    display: flex;
    margin-top: 14px;
}

.auth_submit {
    margin: 0 auto;
    text-align: center;
    min-height: 48px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    line-height: 1;
    letter-spacing: 0.56px;
    color: white;
    text-transform: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px;
    padding: 13.5px 20px;
    background:  0% 0% / auto black;
    transition: none 0s ease 0s;
}

@media (max-width: 769px) {
    .auth_container {
        width: 90%;
    }
    .auth_label {
        width: 80%;
    }
}