.lk_my_address_info {
    width: max-content;
    height: 25px;
    border-radius: 16px;
    border: 1px solid #d7cdcd;
    padding: 10px;
}

.lk_address_container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.lk_address_icon_container {
    margin-right: 10px;
}
.addresses_icon {
    width: 16px;
}
.lk_address_empty {
    border: 1px solid black;
    width: 157px;
    padding: 10px;
    text-align: center;
    border-radius: 16px;
}
.lk_address_empty:hover {
    cursor: pointer;
}
.lk_address_info {
    background-color: inherit;
    border: none;
    font-size: 18px;
    color: inherit;
    outline: none;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.lk_address_info:focus-visible {
    border-bottom: 1px solid #cecece!important;
}