.banner_main {
    display: flex;
    flex-direction: column;
    height: 788px;
    background-size: cover ;
    min-width: 1280px;
    background-image: url("../../../img/ad.jpg");
    justify-content: center;
}
.banner_main_layout {
    width: 1280px;
    margin: auto;
}
.banner_main_layout_items {
    margin-left: 20px;
}
.banner_text_main, .banner_text_additional {
    color: #000;
}
.banner_text_main {
    width: 300px;
    line-height: 98px;
    font-size: 120px;
}

.banner_text_additional {
    margin-top: 20px;
    font-size: 24px;
}

@media (max-width: 768px) {
    .banner_main {
        background-repeat: no-repeat;
        min-height: 300px;
        max-height: 445px;
        background-position: center;
    }
    .banner_main, .banner_main_layout {
        min-width: unset;
        width: 100%;
    }
    .banner_text_main {
        line-height: 50px;
        font-size: 54px;
        max-width: 269px;
    }
    .banner_text_additional {
        font-size: 19px;
        max-width: 199px;
    }
}
