.header_main {
    margin: 0 auto;
    padding: 21px 0 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 430px;
    max-width: 1280px;
}

.header {
    min-width: 1280px;
    min-height: 135px;
    background-color: #fff;
}

.header_search {
    display: flex;
    justify-content: end;
}

.header_search__input {
    width: 228px;
    background: #F5F5F5;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 14px 52px 13px 25px;
    box-shadow: none;
    margin-left: 20px;
}

.header_logo, .header_logo_mobile {
    background-image: url("../../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 106px;
    min-height: 30px;
    padding: 0 4px 0 32px;
}

.header_logo_image {
}

.header_links {
    min-width: 190px;
    display: flex;
    margin-right: 40px;
    justify-content: end;
}

.header_links_item, .header_links_item_fav {
    height: 32px;
    width: 34px;
    margin-left: 29px;
    text-decoration: none;
    color: inherit;
}
.header_links_item_fav {
    background-image: url("../../img/favorites.svg");
    transition-duration: 0.3s;
    background-size: cover;
}
.header_links_item_fav:hover{
    background-image: url("../../img/favorites-red.png");
}

.header_links_item_count {
    display: block;
    position: relative;
    right: -21px;
    top: -5px;
}

.header_links_item_count_value {
    background: #efd6ff;
    border-radius: 34px;
    font-size: 14px;
    width: 15px;
    display: block;
    text-align: center;
}

.header_menu {
    border-top: 1px solid #A4A4A4;
}
.header_search_button {
    background-image: url("../../img/search.svg");
    width: 21px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 38px;
    top: 12px;
    position: relative;
}

.header_menu_items {
    width: 100%;
    max-width: 605px;
    margin: 0 auto;
    text-decoration: none;
    color: inherit;
    font-size: 19px;
    line-height: 19px;
}

.header_menu_list {
   display: flex;
   list-style: none;
   justify-content: space-between;
}

.header_menu_dropdown{
    top: 137px;
}

.header_menu_dropdown_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_mobile, .mobile_menu {
    display: none;
}

@media (max-width: 768px) {
    .header, .header_main {
        width: 100%;
        min-width: unset;
        min-height: 25px;
        display: flex;
    }
    .header_menu, .header_menu_dropdown, .header_search, .header_links, .header_logo {
        display: none;

    }
    .header_logo_image {
        display: flex;
        margin: 0 auto;
    }
    .header_logo {
        padding: 0;
        min-width: 99px;
    }
    .header_mobile {
        display: flex;
        width: 100%;
        justify-content: inherit;
    }
    .header_mobile_menu {
        display: flex;
        background-image: url("../../img/sort_FILL0_wght400_GRAD0_opsz48.svg");
        width: 32px;
        height: 32px;
        margin-left: 12px;
        background-size: contain;
    }
    .header_search_button {
        position: inherit;
        top: unset;
        right: unset;
        width: 32px;
        height: 29px;
    }
    .header_logo_image_mobile, .header_logo_mobile {
        display: flex;
    }
    .header_logo_mobile {
        min-width: 65px;
    }
    .mobile_menu {
        display: none;
        height: 100%;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 65px;
        z-index: 1000;
    }
    .menu_title {
        font-size: 30px;
        margin-left: 35px;
        display: flex;
        border-bottom: 1px solid #cfcfcf;
        margin-top: 10px;
    }
    .menu_subcategories {
        display: flex;
        font-size: 20px;
        flex-direction: column;
    }
    .header_search__input {
        display: flex;
        width: 85%;
        margin: 0 auto;
    }
    .menu_item_title {
        font-size: 20px;
        padding: 10px;
    }
    .menu_item_subtitle {
        font-size: 16px;
    }
    .menu_categories {
        display: flex;
        align-items: baseline;
        margin-left: 10px;
    }
    .header_links_item {
        margin-left: 18px;
        margin-right: 10px;
    }
    .menu_subtitle {
        margin-left: 65px;
        margin-top: 10px;
    }
    .header_search_mini {
        display: none;
        width: 90%;
        margin: 0 auto;
    }
    .menu_link {
        text-decoration: none;
        color:inherit;
    }
    .header_links_mobile {
        display: flex;
    }
    .header_mobile_area {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .header_search_clean {
        position: relative;
        top: 3px;
        left: -34px;
        font-size: 26px;
    }
    .header_search_clean:hover {
        cursor: pointer;
    }
}