.item_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #cfcfcf;
    height: 386px;
    width: 290px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.item_image {
    background-size: cover;
    height: 270px;
    border-radius: 16px;
    margin: 7px;
}

.item_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 26px;
    margin: 10px 5px 0 16px;
}

.item_price {
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

.item_price_container {
    display: flex;
    margin-left: auto;
    align-items: end;
    margin-right: 10px;
    margin-top: 7px;
}
.item_button {
    display: block;
}

@media (max-width: 765px) {

}