.item_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #cfcfcf;
    height: 386px;
    width: 290px;
    border-radius: 16px;
    margin-bottom: 30px;
    margin-right: 26px;
}

.item_wrapper {
    text-decoration: none;
    color: inherit;
}

.item_image {
    background-size: cover;
    height: 270px;
    border-radius: 16px;
    margin: 7px;
}
.item_image_area {
    width: 274px;
    height: inherit;
    border-radius: 16px;
}
.item_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 26px;
    margin: 10px 5px 0 16px;
}

.item_price {
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}

.item_price_container {
    display: flex;
    margin-left: auto;
    align-items: end;
    margin-right: 10px;
    margin-top: 7px;
}

@media (max-width: 765px) {
    .item_container {
        width: 100%;
        height: 277px;
    }
    .item_button {
        display: none;
    }
    .item_price {
        font-size: 22px;
        margin: 0;
    }
    .item_wrapper {
        width: 46%;
        margin-right: 12px;
    }
    .item_image_area {
        width: 90%;
        height: 200px;
        margin: 0 auto;
    }
    .item_image {
        height: unset;
        display: flex;
        width: 100%;
        margin: 7px 7px 7px 0;
    }
    .item_title {
        margin: 0 auto;
        text-align: center;
        font-size: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
}