.search_container {
    min-height: 760px;
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
}
.search_main_title {
    margin-left: 32px;
}
.search_main_caption {
    line-height: 20px;
    padding-top: 28px;
}
.search_items {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .search_container {
        min-height: unset;
        width: 90%;
    }
    .search_main_caption {
        line-height: 40px;
    }
}