.item_container {
    display: flex;
    align-items: center;
    width: 1023px;
    margin: 5px auto 10px auto;
    border: 1px solid #A4A4A4;
    min-height: 58px;
    border-radius: 16px;
}

.item_image_container {
    margin-left: 35px;

}
.item_image {
    width: 96px;
    height: 96px;
}
.item_image, .item_status, .item_statusIcon {
    border-radius: 13px;
}
.item_wrapper {
    text-decoration: none;
    color: inherit;
}
.item_status, .item_statusIcon {
    width: 31px;
    height: 31px;
    margin-right: 10px;
}

.item_statusIcon:hover {
    cursor: pointer;
}

.item_add {
    padding: 5px;
    width: 204px;
    height: 21px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid;
    cursor: pointer;
}
.item_title {
    font-size: 32px;
    margin-left: 24px;
}

.right_info {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}
.right_info_top {
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 10px;
}
.right_info_bottom {
    display: flex;
    margin-right: 17px;
}
.item_info {
    display: flex;
    width: 88%;
    align-items: center;
}

.item_price {
    font-size: 24px;
}


@media (max-width: 768px) {
    .item_container {
        width: 90%;
        min-height: 100px;
    }
    .item_image_container {
        margin: 0 0 0 5px;
    }
    .item_image {
        width: 62px;
        height: 62px;
    }
    .item_info {
        width: 90%;
    }
    .item_title {
        font-size: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 200px;
        margin-left: 5px;
    }
    .item_add {
        width: 122px;
    }
}