.lk_my_orders_order_info {
    display: flex;
    align-items: flex-end;
}
.lk_my_order_orderarea {
    min-width: 263px;
    height: 140px;
    border-radius: 16px;
    border: 1px solid #d7cdcd;
    padding: 10px;
    margin-bottom: 12px;
    margin-right: 25px;
}

.lk_my_orders_order_info:hover{
    cursor: pointer;
}
.lk_order_title {
    font-size: 24px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.lk_order_item {
    background-image: url("../../../img/11255768-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 198px;
    width: 100%;
    border-radius: 16px;
}

.lk_order_status {
    border-bottom-style: groove;
    width: max-content;
    margin-left: auto;
    margin-right: 11px;
}

.lk_order_date {
    font-size: 16px;
    margin-left: 10px;
}
.lk_order_delivery {
    font-size: 18px;
    margin-left: 12px;
}

.lk_order_button {
    padding: 8px;
    margin:17px 0 0;
    width: 261px;
    height: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid;
    cursor: pointer;
}
.lk_order_button:hover {
    background-color: black;
    color: white;
}